/**
  AUTOR: PAULO VICTOR
  DATA: 26/08/2020
  PROJETO: FESTA CULTURAL DE NAZARÉ
*/
body{
    overflow-x: hidden;
}
.div-sobre{
    position: absolute;
    top: 0;
    left: 0;
    padding: 100px 4%;
    width: 100%;    
    background-color: rgba(7, 34, 58, 0.5);
    z-index: -1;
}
.div-sobre h3{
    font-family: 'Beauty and the Beast';
    margin-bottom: 20px;
    font-size: 40px;
}
#rodape.rodape-sobre{
    margin-top: -50px;
    
}
.sobre-nazare{
    width: 70%;
    text-align: justify;
    color: white;
    height: 80vh;
}
.background-video{
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
.background-video video{
    margin-top: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%,-50%);
}
/* #sobre-video{
    position: absolute;
    z-index: -1;
    top: 0;
    min-width: 100%;
    min-height: 100%;
} */

@media screen and (max-width:500px){
    .sobre-nazare{
        width: 100%;
    }
    .sobre-nazare p{
        font-size: 0.8rem;
    }
}